Data/
Features/Bvecs/
meilisearch
meilifiles/
Backend/OCR/infer-new/
Backend/OCR/parseq/demo_images/
Backend/OCR/parseq/pretrained/best_checkpoint.ckpt
Backend/OCR/parseq/pretrained/epoch=79-step=9230-val_accuracy=88.3849-val_NED=95.1411.ckpt
Backend/OCR/parseq/pretrained/epoch=98-step=26631-val_accuracy=99.9699-val_NED=99.9916.ckpt
node_modules/
Backend/OCR/mmocr/
Utils/__pycache__/
Evaluation/__pycache__/
Backend/__pycache__/
Evaluation/Flickr8K/
JSON/
ground_truth.json
Backend/__pycache__/
frontend/
Utils/__pycache__/