Data/
Features/Bvecs/
meilisearch
meilifiles/
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/infer-new/
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/parseq/demo_images/
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/parseq/pretrained/best_checkpoint.ckpt
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/parseq/pretrained/epoch=79-step=9230-val_accuracy=88.3849-val_NED=95.1411.ckpt
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/parseq/pretrained/epoch=98-step=26631-val_accuracy=99.9699-val_NED=99.9916.ckpt
frontend/
node_modules/
/mmlabworkspace/Students/visedit/AIC2023/Backend/OCR/mmocr/
/mmlabworkspace/Students/visedit/AIC2023/Utils/__pycache__/
/mmlabworkspace/Students/visedit/AIC2023/Evaluation/__pycache__/
/mmlabworkspace/Students/visedit/AIC2023/Backend/__pycache__/
/mmlabworkspace/Students/visedit/AIC2023/Evaluation/Flickr8K/
JSON/
ground_truth.json
